In [2]:
import numpy as np
import mysql.connector
import pandas as pd
# import requests
import multiprocessing
from sqlalchemy import create_engine
a = pd.DataFrame(np.load("industry_classification.npy"))
engine = create_engine(
    "mysql+pymysql://{user}:{pw}@{host}/{db}".format(host='localhost', db="stock_1d", user='haiyao',
                                                    pw='qaz1wsx2'))
djia_stocks = pd.read_csv("./djia_stocks.csv")
for i in djia_stocks.Symbol:
    df = pd.read_sql(f"select * from {i}", con=engine)
    print(df)
    if "Dividend" in df.columns:
        df.drop(columns=["Dividend"],inplace=True)
    df.to_csv((f"./djia_stocks/{i}.csv"))

             date        open        high         low       close      volume  \
0      1969-12-31    0.000000    6.890625    6.843750    1.395389    296000.0
1      1970-01-02    6.851563    6.890625    6.843750    1.395389     72000.0
2      1970-01-05    6.859375    6.898438    6.859375    1.403344    446400.0
3      1970-01-06    6.890625    6.960938    6.882813    1.417665    176000.0
4      1970-01-07    6.960938    7.015625    6.945313    1.425620    164800.0
...           ...         ...         ...         ...         ...         ...
13281  2022-08-25  141.070007  143.270004  140.639999  142.759995  47355600.0
13282  2022-08-26  143.639999  144.009995  128.679993  129.139999  38384100.0
13283  2022-08-29  128.789993  128.789993  125.269997  126.440002  50532400.0
13284  2022-08-30  126.889999  127.739998  123.029999  124.860001  34478500.0
13285  2022-08-31  124.849998  126.459999  123.610001  124.349998  31642100.0

       tic  day    change
0      MMM    2       NaN
1      MMM    4  0.000000
2      MMM    0  0.005701
3      MMM    1  0.010205
4      MMM    2  0.005611
...    ...  ...       ...
13281  MMM    3  0.012195
13282  MMM    4 -0.095405
13283  MMM    0 -0.020908
13284  MMM    1 -0.012496
13285  MMM    2 -0.004085

[13286 rows x 9 columns]
             date        open        high         low       close     volume  \
0      1972-06-01    3.693287    3.693287    3.693287    1.278419        0.0
1      1972-06-02    3.677195    3.677195    3.677195    1.272850        0.0
2      1972-06-05    3.604777    3.604777    3.604777    1.247783        0.0
3      1972-06-06    3.411664    3.411664    3.411664    1.180938        0.0
4      1972-06-07    3.371432    3.371432    3.371432    1.167011        0.0
...           ...         ...         ...         ...         ...        ...
12668  2022-08-25  160.000000  162.330002  158.779999  162.229996  1936300.0
12669  2022-08-26  163.210007  163.589996  157.190002  157.309998  2373700.0
12670  2022-08-29  155.880005  156.509995  154.410004  154.539993  2693600.0
12671  2022-08-30  155.639999  156.119995  152.899994  154.660004  2104500.0
12672  2022-08-31  155.559998  156.369995  151.839996  152.000000  3271600.0

       tic  day    change
0      AXP    3       NaN
1      AXP    4 -0.004356
2      AXP    0 -0.019694
3      AXP    1 -0.053571
4      AXP    2 -0.011793
...    ...  ...       ...
12668  AXP    3  0.019481
12669  AXP    4 -0.030327
12670  AXP    0 -0.017609
12671  AXP    1  0.000777
12672  AXP    2 -0.017199

[12673 rows x 9 columns]
            date        open        high         low       close      volume  \
0     1983-06-17    0.000000    0.348958    0.343750    0.259451  42936000.0
1     1983-06-20    0.000000    0.307292    0.302083    0.228003   7329600.0
2     1983-06-21    0.000000    0.312500    0.302083    0.228003   2280000.0
3     1983-06-22    0.000000    0.317708    0.312500    0.235865   5937600.0
4     1983-06-23    0.000000    0.317708    0.312500    0.235865   1272000.0
...          ...         ...         ...         ...         ...         ...
9879  2022-08-25  246.009995  246.059998  243.809998  245.679993   1725400.0
9880  2022-08-26  244.050003  246.360001  240.449997  240.649994   2969400.0
9881  2022-08-29  238.839996  241.029999  238.009995  239.380005   2113000.0
9882  2022-08-30  239.880005  240.309998  238.289993  239.119995   3673000.0
9883  2022-08-31  241.589996  243.889999  239.850006  240.300003   4303900.0

       tic  day    change
0     AMGN    4       NaN
1     AMGN    0 -0.121213
2     AMGN    1  0.000000
3     AMGN    2  0.034484
4     AMGN    3  0.000000
...    ...  ...       ...
9879  AMGN    3  0.004867
9880  AMGN    4 -0.020474
9881  AMGN    0 -0.005277
9882  AMGN    1 -0.001086
9883  AMGN    2  0.004935

[9884 rows x 9 columns]
             date        open        high         low       close  \
0      1980-12-12    0.128348    0.128906    0.128348    0.100039
1      1980-12-15    0.122210    0.122210    0.121652    0.094820
2      1980-12-16    0.113281    0.113281    0.112723    0.087861
3      1980-12-17    0.115513    0.116071    0.115513    0.090035
4      1980-12-18    0.118862    0.119420    0.118862    0.092646
...           ...         ...         ...         ...         ...
10514  2022-08-25  168.779999  170.139999  168.350006  170.029999
10515  2022-08-26  170.570007  171.050003  163.559998  163.619995
10516  2022-08-29  161.149994  162.899994  159.820007  161.380005
10517  2022-08-30  162.130005  162.559998  157.720001  158.910004
10518  2022-08-31  160.309998  160.580002  157.139999  157.220001

            volume   tic  day    change
0      469033600.0  AAPL    4       NaN
1      175884800.0  AAPL    0 -0.052171
2      105728000.0  AAPL    1 -0.073397
3       86441600.0  AAPL    2  0.024750
4       73449600.0  AAPL    3  0.028993
...            ...   ...  ...       ...
10514   51218200.0  AAPL    3  0.014923
10515   78961000.0  AAPL    4 -0.037699
10516   73314000.0  AAPL    0 -0.013690
10517   77906200.0  AAPL    1 -0.015305
10518   87991100.0  AAPL    2 -0.010635

[10519 rows x 9 columns]
             date        open        high         low       close     volume  \
0      1969-12-31    0.938272    0.975309    0.917695    0.274696  2208263.0
1      1970-01-02    0.925926    0.979424    0.925926    0.290567   634838.0
2      1970-01-05    1.008230    1.024691    1.008230    0.301555   741150.0
3      1970-01-06    1.024691    1.049383    1.024691    0.305218  1354725.0
4      1970-01-07    1.028807    1.045267    1.020576    0.306439   646988.0
...           ...         ...         ...         ...         ...        ...
13281  2022-08-25  164.559998  169.649994  163.699997  169.380005  4949400.0
13282  2022-08-26  170.000000  171.369995  164.270004  164.529999  4957400.0
13283  2022-08-29  162.279999  166.899994  162.199997  165.419998  4727600.0
13284  2022-08-30  167.270004  169.919998  160.720001  162.210007  6248600.0
13285  2022-08-31  163.000000  163.550003  160.139999  160.250000  4123500.0

      tic  day    change
0      BA    2       NaN
1      BA    4  0.057777
2      BA    0  0.037815
3      BA    1  0.012146
4      BA    2  0.004000
...    ..  ...       ...
13281  BA    3  0.035330
13282  BA    4 -0.028634
13283  BA    0  0.005409
13284  BA    1 -0.019405
13285  BA    2 -0.012083

[13286 rows x 9 columns]
             date        open        high         low       close     volume  \
0      1969-12-31    3.500000    3.572917    3.500000    1.336040   270000.0
1      1970-01-02    3.541667    3.541667    3.447917    1.304603   276000.0
2      1970-01-05    3.458333    3.489583    3.437500    1.300674   103200.0
3      1970-01-06    3.447917    3.447917    3.343750    1.269237   105600.0
4      1970-01-07    3.333333    3.333333    3.239583    1.229943   201600.0
...           ...         ...         ...         ...         ...        ...
13281  2022-08-25  195.490005  198.910004  194.570007  198.880005  1888700.0
13282  2022-08-26  199.399994  200.369995  191.729996  191.919998  2560400.0
13283  2022-08-29  190.000000  193.169998  189.000000  191.779999  1996600.0
13284  2022-08-30  191.500000  191.960007  184.589996  186.940002  2691200.0
13285  2022-08-31  186.630005  188.059998  184.500000  184.710007  2656600.0

       tic  day    change
0      CAT    2       NaN
1      CAT    4 -0.023529
2      CAT    0 -0.003012
3      CAT    1 -0.024169
4      CAT    2 -0.030959
...    ...  ...       ...
13281  CAT    3  0.024310
13282  CAT    4 -0.034996
13283  CAT    0 -0.000729
13284  CAT    1 -0.025237
13285  CAT    2 -0.011929

[13286 rows x 9 columns]
             date        open        high         low       close      volume  \
0      1969-12-31    0.000000    3.226563    3.164063    0.457000   1076800.0
1      1970-01-02    3.195313    3.265625    3.195313    0.467057    526400.0
2      1970-01-05    3.265625    3.304688    3.257813    0.469291   1121600.0
3      1970-01-06    3.281250    3.296875    3.218750    0.462587    553600.0
4      1970-01-07    3.234375    3.242188    3.195313    0.461470    451200.0
...           ...         ...         ...         ...         ...         ...
13281  2022-08-25  163.919998  164.899994  162.610001  164.619995   8050700.0
13282  2022-08-26  164.179993  166.130005  162.460007  163.410004   7765800.0
13283  2022-08-29  163.889999  166.830002  163.639999  164.630005   8462600.0
13284  2022-08-30  162.320007  162.559998  158.759995  160.619995   8814300.0
13285  2022-08-31  157.610001  161.410004  156.149994  158.059998  13582700.0

       tic  day    change
0      CVX    2       NaN
1      CVX    4  0.022005
2      CVX    0  0.004785
3      CVX    1 -0.014286
4      CVX    2 -0.002415
...    ...  ...       ...
13281  CVX    3  0.008763
13282  CVX    4 -0.007350
13283  CVX    0  0.007466
13284  CVX    1 -0.024358
13285  CVX    2 -0.015938

[13286 rows x 9 columns]
            date       open       high        low      close       volume  \
0     1990-02-16   0.000000   0.079861   0.073785   0.055372  940636800.0
1     1990-02-20   0.000000   0.079861   0.074653   0.057238  151862400.0
2     1990-02-21   0.000000   0.078993   0.075521   0.055994   70531200.0
3     1990-02-22   0.000000   0.081597   0.078993   0.056616   45216000.0
4     1990-02-23   0.000000   0.079861   0.078125   0.056305   44697600.0
...          ...        ...        ...        ...        ...          ...
8193  2022-08-25  47.250000  47.430000  46.840000  47.270000   23039300.0
8194  2022-08-26  47.080002  47.270000  45.880001  45.889999   20309800.0
8195  2022-08-29  45.720001  46.000000  45.490002  45.709999   13425700.0
8196  2022-08-30  45.750000  45.869999  44.959999  45.240002   14279100.0
8197  2022-08-31  45.779999  45.830002  44.590000  44.720001   23006100.0

       tic  day    change
0     CSCO    4       NaN
1     CSCO    1  0.033705
2     CSCO    2 -0.021737
3     CSCO    3  0.011110
4     CSCO    4 -0.005494
...    ...  ...       ...
8193  CSCO    3  0.004249
8194  CSCO    4 -0.029194
8195  CSCO    0 -0.003922
8196  CSCO    1 -0.010282
8197  CSCO    2 -0.011494

[8198 rows x 9 columns]
             date       open       high        low      close      volume tic  \
0      1969-12-31   0.854167   0.863281   0.848958   0.194460   1123200.0  KO
1      1970-01-02   0.856771   0.856771   0.850260   0.194460   1104000.0  KO
2      1970-01-05   0.854167   0.854167   0.841146   0.191505    556800.0  KO
3      1970-01-06   0.843750   0.854167   0.839844   0.193278    796800.0  KO
4      1970-01-07   0.851563   0.859375   0.846354   0.194460    700800.0  KO
...           ...        ...        ...        ...        ...         ...  ..
13281  2022-08-25  64.360001  64.709999  63.900002  64.201912   7913900.0  KO
13282  2022-08-26  64.730003  64.800003  62.980000  62.653210  10089500.0  KO
13283  2022-08-29  62.689999  63.029999  62.410000  62.275959   9115900.0  KO
13284  2022-08-30  62.910000  62.910000  61.990002  61.700157   8456800.0  KO
13285  2022-08-31  62.380001  62.529999  61.700001  61.263340  14633600.0  KO

       day    change
0        2       NaN
1        4  0.000000
2        0 -0.015198
3        1  0.009260
4        2  0.006116
...    ...       ...
13281    3  0.004817
13282    4 -0.024122
13283    0 -0.006021
13284    1 -0.009246
13285    2 -0.007080

[13286 rows x 9 columns]
           date       open       high        low      close     volume  tic  \
0    2019-03-20  52.750000  53.500000  49.500000  41.373940  2350800.0  DOW
1    2019-03-21  49.990002  50.000000  48.200001  40.692684  1764700.0  DOW
2    2019-03-22  48.799999  49.950001  48.160000  40.376976   844700.0  DOW
3    2019-03-25  48.599998  49.400002  48.000000  40.833920   440900.0  DOW
4    2019-03-26  49.000000  49.750000  48.180000  40.584686   504700.0  DOW
..          ...        ...        ...        ...        ...        ...  ...
866  2022-08-25  54.830002  55.790001  54.757000  55.031384  5736200.0  DOW
867  2022-08-26  55.980000  56.369999  54.259998  53.748371  5777700.0  DOW
868  2022-08-29  53.000000  54.009998  52.540001  52.869999  9304900.0  DOW
869  2022-08-30  52.830002  52.959999  51.259998  51.380001  7452200.0  DOW
870  2022-08-31  51.240002  51.639999  50.580002  51.000000  6069600.0  DOW

     day    change
0      2       NaN
1      3 -0.016466
2      4 -0.007758
3      0  0.011317
4      1 -0.006104
..   ...       ...
866    3  0.028024
867    4 -0.023314
868    0 -0.016342
869    1 -0.028182
870    2 -0.007396

[871 rows x 9 columns]
            date        open        high         low       close      volume  \
0     1999-05-04   76.000000   77.250000   70.000000   52.851448  22320900.0
1     1999-05-05   69.875000   69.875000   66.250000   51.912670   7565700.0
2     1999-05-06   68.000000   69.375000   67.062500   51.020901   2905700.0
3     1999-05-07   67.937500   74.875000   66.750000   55.667679   4862300.0
4     1999-05-10   73.375000   73.500000   70.250000   53.086151   2589400.0
...          ...         ...         ...         ...         ...         ...
5867  2022-08-25  344.450012  346.859985  342.109985  343.893616   1763900.0
5868  2022-08-26  348.339996  348.739990  336.000000  333.879242   1703900.0
5869  2022-08-29  333.920013  336.399994  332.010010  331.417847   1835600.0
5870  2022-08-30  335.000000  336.010010  331.179993  331.130005   1830300.0
5871  2022-08-31  331.549988  335.140015  329.679993  332.670013   2488000.0

     tic  day    change
0     GS    1       NaN
1     GS    2 -0.017763
2     GS    3 -0.017178
3     GS    4  0.091076
4     GS    0 -0.046374
...   ..  ...       ...
5867  GS    3  0.013306
5868  GS    4 -0.029121
5869  GS    0 -0.007372
5870  GS    1 -0.000869
5871  GS    2  0.004651

[5872 rows x 9 columns]
             date        open        high         low       close     volume  \
0      1981-09-22    0.029995    0.029995    0.029995    0.018180  7449469.0
1      1981-09-23    0.029995    0.029995    0.029995    0.018180  7381125.0
2      1981-09-24    0.029995    0.029995    0.029995    0.018180  5091609.0
3      1981-09-25    0.029995    0.029995    0.029995    0.018180  7312781.0
4      1981-09-28    0.029995    0.029995    0.029995    0.018180  5809219.0
...           ...         ...         ...         ...         ...        ...
10319  2022-08-25  308.640015  309.959991  305.829987  307.771881  2529700.0
10320  2022-08-26  310.299988  311.510010  298.019989  296.167603  3315500.0
10321  2022-08-29  296.570007  299.709991  294.290009  294.399139  2711800.0
10322  2022-08-30  298.559998  299.899994  291.670013  291.200012  2892400.0
10323  2022-08-31  292.010010  292.470001  288.279999  288.420013  4376200.0

      tic  day    change
0      HD    1       NaN
1      HD    2  0.000000
2      HD    3  0.000000
3      HD    4  0.000000
4      HD    0  0.000000
...    ..  ...       ...
10319  HD    3  0.005420
10320  HD    4 -0.037704
10321  HD    0 -0.005971
10322  HD    1 -0.010867
10323  HD    2 -0.009547

[10324 rows x 9 columns]
             date        open        high         low       close     volume  \
0      1969-12-31    0.000000    3.892926    3.813478    0.717983   474527.0
1      1970-01-02    3.912787    4.051820    3.912787    0.740074    56641.0
2      1970-01-05    4.031959    4.131268    4.031959    0.765847   116429.0
3      1970-01-06    4.131268    4.210715    4.091544    0.765847    93143.0
4      1970-01-07    4.131268    4.190854    4.111406    0.762166    67969.0
...           ...         ...         ...         ...         ...        ...
13281  2022-08-25  199.220001  200.500000  197.919998  200.429993  1631500.0
13282  2022-08-26  199.240005  200.440002  192.940002  193.059998  2837000.0
13283  2022-08-29  192.779999  193.899994  191.199997  192.419998  2095700.0
13284  2022-08-30  191.960007  193.039993  189.289993  190.699997  2224000.0
13285  2022-08-31  192.570007  192.660004  189.009995  189.350006  2629300.0

       tic  day    change
0      HON    2       NaN
1      HON    4  0.030769
2      HON    0  0.034825
3      HON    1  0.000000
4      HON    2 -0.004807
...    ...  ...       ...
13281  HON    3  0.013347
13282  HON    4 -0.036771
13283  HON    0 -0.003315
13284  HON    1 -0.008939
13285  HON    2 -0.007079

[13286 rows x 9 columns]
             date        open        high         low       close     volume  \
0      1969-12-31   17.304014   17.423517   17.304014    4.047991   610864.0
1      1970-01-02   17.423517   17.483271   17.399618    4.050768   330536.0
2      1970-01-05   17.495220   17.602772   17.495220    4.089635   443504.0
3      1970-01-06   17.602772   17.638622   17.507170    4.092416   510448.0
4      1970-01-07   17.614723   17.626673   17.507170    4.095188   479068.0
...           ...         ...         ...         ...         ...        ...
13281  2022-08-25  133.649994  134.429993  133.070007  133.979996  2706000.0
13282  2022-08-26  134.100006  134.179993  130.339996  130.380005  4185300.0
13283  2022-08-29  129.990005  131.419998  129.570007  130.309998  2783000.0
13284  2022-08-30  130.559998  130.770004  129.289993  129.580002  2407900.0
13285  2022-08-31  129.919998  130.000000  128.399994  128.449997  3490400.0

       tic  day    change
0      IBM    2       NaN
1      IBM    4  0.000686
2      IBM    0  0.009595
3      IBM    1  0.000680
4      IBM    2  0.000677
...    ...  ...       ...
13281  IBM    3  0.005629
13282  IBM    4 -0.026870
13283  IBM    0 -0.000537
13284  IBM    1 -0.005602
13285  IBM    2 -0.008721

[13286 rows x 9 columns]
             date       open       high        low      close      volume  \
0      1980-03-17   0.325521   0.330729   0.325521   0.190766  10924800.0
1      1980-03-18   0.325521   0.328125   0.322917   0.189240  17068800.0
2      1980-03-19   0.330729   0.335938   0.330729   0.193818  18508800.0
3      1980-03-20   0.330729   0.334635   0.329427   0.193055  11174400.0
4      1980-03-21   0.322917   0.322917   0.317708   0.186187  12172800.0
...           ...        ...        ...        ...        ...         ...
10702  2022-08-25  33.869999  34.930000  33.820000  34.889999  29799100.0
10703  2022-08-26  34.950001  35.029999  33.349998  33.360001  44851500.0
10704  2022-08-29  33.230000  33.410000  32.810001  32.939999  32976800.0
10705  2022-08-30  33.040001  33.070000  32.150002  32.259998  40182500.0
10706  2022-08-31  32.389999  32.389999  31.770000  31.920000  44074500.0

        tic  day    change
0      INTC    0       NaN
1      INTC    1 -0.008000
2      INTC    2  0.024192
3      INTC    3 -0.003937
4      INTC    4 -0.035574
...     ...  ...       ...
10702  INTC    3  0.030419
10703  INTC    4 -0.043852
10704  INTC    0 -0.012590
10705  INTC    1 -0.020644
10706  INTC    2 -0.010539

[10707 rows x 9 columns]
             date        open        high         low       close     volume  \
0      1969-12-31    0.000000    1.256944    1.237847    0.404910  1411200.0
1      1970-01-02    1.250000    1.253472    1.218750    0.394787  1195200.0
2      1970-01-05    1.218750    1.222222    1.187500    0.385227   964800.0
3      1970-01-06    1.189236    1.211806    1.184028    0.392538  1036800.0
4      1970-01-07    1.211806    1.215278    1.203125    0.390851   331200.0
...           ...         ...         ...         ...         ...        ...
13281  2022-08-25  165.949997  167.240005  164.699997  167.130005  5678700.0
13282  2022-08-26  167.460007  167.500000  164.199997  164.270004  5667100.0
13283  2022-08-29  163.470001  163.839996  162.020004  163.000000  5259200.0
13284  2022-08-30  163.300003  163.539993  162.029999  162.429993  6973300.0
13285  2022-08-31  163.229996  163.550003  161.270004  161.339996  8741700.0

       tic  day    change
0      JNJ    2       NaN
1      JNJ    4 -0.025000
2      JNJ    0 -0.024217
3      JNJ    1  0.018979
4      JNJ    2 -0.004299
...    ...  ...       ...
13281  JNJ    3  0.009361
13282  JNJ    4 -0.017112
13283  JNJ    0 -0.007731

In [2]:
import akshare as ak

In [4]:
symbol = ak.stock_hk_spot()

In [8]:
symbol

,symbol,name,engname,tradetype,lasttrade,prevclose,open,high,low,volume,amount,ticktime,buy,sell,pricechange,changepercent
0,00001,长和,CKH HOLDINGS,EQTY,46.400,45.500,46.500,46.550,46.050,4362191,202234232,2022-12-22 16:08:28,46.400,46.450,0.900,1.9780220
1,00002,中电控股,CLP HOLDINGS,EQTY,56.100,55.350,55.900,56.350,55.400,2780199,155875798,2022-12-22 16:08:28,56.100,56.150,0.750,1.3550136
2,00003,香港中华煤气,HK & CHINA GAS,EQTY,7.400,7.280,7.380,7.430,7.330,14280055,105366857,2022-12-22 16:08:30,7.390,7.400,0.120,1.6483516
3,00004,九龙仓集团,WHARF HOLDINGS,EQTY,23.200,22.700,22.800,23.450,22.800,1928074,44681529,2022-12-22 16:08:26,23.100,23.200,0.500,2.2026432
4,00005,汇丰控股,HSBC HOLDINGS,EQTY,48.200,47.500,48.100,48.250,47.900,13931200,669580931,2022-12-22 16:08:30,48.150,48.200,0.700,1.4736842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2597,09995,荣昌生物-B,REMEGEN-B,EQTY,56.900,54.000,54.650,57.800,54.000,1098500,61825587,2022-12-22 16:08:30,56.800,56.900,2.900,5.3703704
2598,09996,沛嘉医疗-B,PEIJIA-B,EQTY,9.010,9.070,9.040,9.320,9.010,410000,3753940,2022-12-22 16:08:28,9.010,9.090,-0.060,-0.6615215
2599,09997,康基医疗,KANGJI MEDICAL,EQTY,8.200,8.210,8.380,8.380,8.150,388500,3201965,2022-12-22 16:08:28,8.120,8.200,-0.010,-0.1218027
2600,09998,光荣控股,KWAN YONG,EQTY,0.178,0.178,0.000,0.000,0.000,0,0,2022-12-22 16:08:30,0.161,0.178,0.000,0.0000000
2601,09999,网易-S,NTES-S,EQTY,115.600,110.400,113.800,115.900,112.500,4114140,472467612,2022-12-22 16:08:30,115.500,115.600,5.200,4.7101449

In [14]:
symbol.loc[symbol.symbol=="00857"]

,symbol,name,engname,tradetype,lasttrade,prevclose,open,high,low,volume,amount,ticktime,buy,sell,pricechange,changepercent
689,00857,中国石油股份,PETROCHINA,EQTY,3.550,3.500,3.540,3.580,3.520,82142043,292053519,2022-12-22 16:08:28,3.550,3.560,0.050,1.4285714

In [18]:
ak.stock_hk_hist(symbol="00001", period="daily", start_date="19700101", end_date="22220101",
                                        adjust="qfq")

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2015-03-18,131.666,131.266,132.466,130.266,6828236,1.035473e+09,0.00,0.00,0.00,0.29
1,2015-03-19,134.166,132.166,134.166,131.966,4190229,6.407324e+08,1.68,0.69,0.90,0.18
2,2015-03-20,132.266,131.366,132.766,130.966,3081098,4.686332e+08,1.36,-0.61,-0.80,0.13
3,2015-03-23,131.766,130.366,131.766,129.966,3911704,5.896717e+08,1.37,-0.76,-1.00,0.17
4,2015-03-24,130.766,131.166,131.866,130.366,2273318,3.443741e+08,1.15,0.61,0.80,0.10
...,...,...,...,...,...,...,...,...,...,...,...
1910,2022-12-16,45.050,45.450,45.650,44.850,6038818,2.738763e+08,1.78,1.34,0.60,0.16
1911,2022-12-19,45.100,45.250,45.600,45.100,3832661,1.736942e+08,1.10,-0.44,-0.20,0.10
1912,2022-12-20,45.000,45.800,46.450,45.000,5664329,2.598413e+08,3.20,1.22,0.55,0.15
1913,2022-12-21,45.950,45.500,46.050,45.300,2884908,1.315257e+08,1.64,-0.66,-0.30,0.08
1914,2022-12-22,46.500,46.400,46.550,46.050,4362191,2.022342e+08,1.10,1.98,0.90,0.11